@model EmailLogViewModel

<div class="text-center">
    <p style="font-size:20px">Հաղորդագրություններ բացակայությունների համար</p>
</div>
<div id="projects-tab" class="tab-pane active">
    <div class="pd-20">
        <table class="table table-striped table-hover" id="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StudentId)</th>
                    <th>@Html.DisplayNameFor(model => model.Student.FacultyName)</th>
                    <th>@Html.DisplayNameFor(model => model.Student.GroupName)</th>
                    <th>@Html.DisplayNameFor(model => model.SendEmailDate)</th>
                </tr>
            </thead>
            @foreach (var emailLog in Model.EmailLogs)
            {
                <tbody>
                    <tr>
                        <td>@Model.Students.FirstOrDefault(s => s.StudentId == emailLog.StudentId).FirstName @Model.Students.FirstOrDefault(s => s.StudentId == emailLog.StudentId).LastName</td>
                        <td>@Model.Faculties.FirstOrDefault(f =>f.FacultyId==Model.Groups.FirstOrDefault(g=>g.GroupId==Model.Students.FirstOrDefault(s=>s.StudentId==emailLog.StudentId).GroupId).FacultyId).FacultyName</td>
                        <td>@Model.Groups.FirstOrDefault(g => g.GroupId == Model.Students.FirstOrDefault(s => s.StudentId == emailLog.StudentId).GroupId).GroupName </td>
                        <td>@emailLog.SendEmailDate</td>

                    </tr>
                </tbody>
            }
        </table>
        <br />
        @if (Model.EmailLogs.Count() > 0)
        {
            <button class="btn btn-outline-success" onclick="fnExcelReport('table','Հաղորդագրություններ բացակայությունների համար')">Ներբեռնել(.xls)</button>
        }

    </div>
</div>