@model StudentViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="GetForFreeStudents">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.FacultyName)
                <select class="form-control" id="FacultyName" name="FacultyName">
                    <option>---- ընտրել ----</option>
                    @foreach (var type in Model.Faculties.OrderBy(f=>f.FacultyName))
                    {
                        <option value="@type.FacultyName">@type.FacultyName</option>
                    }
                </select>
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.GroupName)
                <br />
                <select class="form-control" id="GroupName" name="GroupName">
                    <option>---- ընտրել ----</option>
                    @foreach (var type in Model.Groups.OrderBy(g => g.GroupName))
                    {
                        <option value="@type.GroupName">@type.GroupName</option>
                    }
                </select>
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success w-25" title="Փնտրել" asp-action="GetForFreeStudents">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $(document).ready(function () {
        $("#FacultyName").select2();
        $("#GroupName").select2();
        $("#FacultyName").change(function () {
            var facultyName = $("#FacultyName").val();
            if (facultyName != "---- ընտրել ----") {
                $.ajax({
                    url: `/Student/GetGroupsByFaculty/?facultyName=${facultyName}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log(facultyName);
                        console.log(data);
                        $("#GroupName option").remove();
                        $('#GroupName').append($('<option></option>').text('---- ընտրել ----').val('---- ընտրել ----'));
                        data.forEach(group => {
                            $('#GroupName').append($('<option></option>').text(`${group.groupName}`).val(group.groupName));
                        })

                    }
                });
            }
            else {
                $.ajax({
                    url: "/Student/GetGroups",
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#GroupName option").remove();
                        $('#GroupName').append($('<option></option>').text('---- ընտրել ----').val('---- ընտրել ----'));
                        data.forEach(group => {
                            $('#GroupName').append($('<option></option>').text(`${group.groupName}`).val(group.groupName));
                        });
                    }

                })
            }
        })
    });
    </script>
}