@model StudentViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="Mog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.FacultyName)
                <select class="form-control" id="FacultyName" name="FacultyName">
                    <option>---- ընտրել ----</option>
                    @foreach (var type in Model.Faculties.OrderBy(f=>f.FacultyName))
                    {
                        <option value="@type.FacultyName">@type.FacultyName</option>
                    }
                </select>
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.GroupName)
                <br />
                <select class="form-control" id="GroupName" name="GroupName">
                    <option>---- ընտրել ----</option>
                    @foreach (var type in Model.Groups.OrderBy(g => g.GroupName))
                    {
                        <option value="@type.GroupName">@type.GroupName</option>
                    }
                </select>
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.StudentId)
                <br />
                <select class="form-control" id="StudentId" name="StudentId">
                    <option>---- ընտրել ----</option>
                    @foreach (var type in Model.Students.OrderBy(s => s.FirstName).ThenBy(s => s.LastName))
                    {
                        <option value="@type.StudentId">@type.FirstName @type.LastName</option>
                    }
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" value="" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" value="" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success w-25" title="Փնտրել" asp-action="Mog">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FacultyName").select2();
        $("#GroupName").select2();
        $("#StudentId").select2();
        $("#FacultyName").change(function () {
            var facultyName = $("#FacultyName").val();
            if (facultyName != "---- ընտրել ----") {
                $.ajax({
                    url: `/Student/GetGroupsByFaculty/?facultyName=${facultyName}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#GroupName option").remove();
                        $('#GroupName').append($('<option></option>').text('---- ընտրել ----').val('---- ընտրել ----'));
                        data.forEach(group => {
                            $('#GroupName').append($('<option></option>').text(`${group.groupName}`).val(group.groupName));
                        })

                    }
                });
            }
            else {
                $.ajax({
                    url: "/Student/GetGroups",
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#GroupName option").remove();
                        $('#GroupName').append($('<option></option>').text('---- ընտրել ----').val('---- ընտրել ----'));
                        data.forEach(group => {
                            $('#GroupName').append($('<option></option>').text(`${group.groupName}`).val(group.groupName));
                        });
                    }

                })
            }
        })
        $("#GroupName").change(function () {
            var groupName = $("#GroupName").val();
            if (groupName != "---- ընտրել ----") {
                $.ajax({
                    url: `/Student/GetStudentsByGroup/?groupName=${groupName}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#StudentId option").remove();
                        $('#StudentId').append($('<option></option>').text('---- ընտրել ----').val(0));
                        data.forEach(student => {
                            $('#StudentId').append($('<option></option>').text(`${student.firstName} ${student.lastName}`).val(student.studentId));
                        })

                    }
                });
            }
            else {
                $.ajax({
                    url: "/Student/GetStudents",
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#StudentId option").remove();
                        $('#StudentId').append($('<option></option>').text('---- ընտրել ----').val(0));
                        data.forEach(student => {
                            $('#StudentId').append($('<option></option>').text(`${student.firstName} ${student.lastName}`).val(student.studentId));
                        });
                    }

                })
            }
        })
    });
</script>
}