@model FilterViewModel

<div class="text-center">
    <p style="font-size:20px">Ուսանողներ</p>
</div>
<div id="projects-tab" class="tab-pane active">
    <div class="pd-20">
        <table class="table table-striped table-hover" id="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).StudentFirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).StudentLastName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).SubjectName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).ExaminationDay)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).ExaminationResult)</th>
                </tr>
            </thead>
            @foreach (var student in Model.FilterList)
            {
                <tbody>
                    <tr>
                        <td>@student.StudentFirstName</td>
                        <td>@student.StudentLastName</td>
                        <td>@student.SubjectName</td>
                        <td>@student.ExaminationDay</td>
                        <td>@student.ExaminationResult</td>
                    </tr>
                </tbody>
            }
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).MOG)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.FilterList.FirstOrDefault().MOG</td>
                </tr>
            </tbody>
        </table>
        <br />
        @if (Model.FilterList.Count() > 0)
        {
            <button class="btn btn-outline-success" onclick="fnExcelReport('table','ՄՈԳ')">Ներբեռնել(.xls)</button>
        }

    </div>
</div>