@model ReprimandedStudentViewModel

<div class="text-center">
    <p style="font-size:20px">Նկատողություն ստացած ուսանողներ</p>
</div>
<div id="projects-tab" class="tab-pane active">
    <div class="pd-20">
        <table class="table table-striped table-hover" id="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StudentId)</th>
                    <th>@Html.DisplayNameFor(model => model.Student.FacultyName)</th>
                    <th>@Html.DisplayNameFor(model => model.Student.GroupName)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOfReprimand)</th>
                </tr>
            </thead>
            @foreach (var re in Model.ReprimandedStudentViewModels)
            {
                <tbody>
                    <tr>
                        <td>@Model.Students.FirstOrDefault(s => s.StudentId == re.StudentId).FirstName @Model.Students.FirstOrDefault(s => s.StudentId == re.StudentId).LastName</td>
                        <td>@Model.Faculties.FirstOrDefault(f => f.FacultyId == Model.Groups.FirstOrDefault(g => g.GroupId == Model.Students.FirstOrDefault(s => s.StudentId == re.StudentId).GroupId).FacultyId).FacultyName</td>
                        <td>@Model.Groups.FirstOrDefault(g => g.GroupId == Model.Students.FirstOrDefault(s => s.StudentId == re.StudentId).GroupId).GroupName </td>
                        <td>@re.DateOfReprimand</td>

                    </tr>
                </tbody>
            }
        </table>
        <br />
        @if (Model.ReprimandedStudentViewModels.Count() > 0)
        {
            <button class="btn btn-outline-success" onclick="fnExcelReport('table','Նկատողություն ստացած ուսանողներ')">Ներբեռնել(.xls)</button>
        }

    </div>
</div>