@model FilterViewModel


    <div class="text-center">
        <p style="font-size:20px">Ուսման վարձը չվճարած ուսանողներ</p>
    </div>
<div id="projects-tab" class="tab-pane active">
    <div class="pd-20">
        <table class="table table-striped table-hover" id="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).StudentFirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).StudentLastName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).Email)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).FacultyName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).GroupName)</th>
                    <th>@Html.DisplayNameFor(model => model.FilterList.FirstOrDefault(m => m.StudentId == m.StudentId).FacultyFee)</th>
                </tr>
            </thead>
            @foreach (var student in Model.FilterList)
            {
                <tbody>
                    <tr>
                        <td>@student.StudentFirstName</td>
                        <td>@student.StudentLastName</td>
                        <td>@student.Email</td>
                        <td>@student.FacultyName</td>
                        <td>@student.GroupName</td>
                        <td>@student.FacultyFee</td>
                    </tr>
                </tbody>
            }
        </table>
        <br />
        @if (Model.FilterList.Count() > 0)
        {
            <button class="btn btn-outline-success" onclick="fnExcelReport('table','Ուսման վարձը չվճարած ուսանողներ')">Ներբեռնել(.xls)</button>

        }

    </div>
</div>